@import 'globals';

body {
  background-color: $favColor !important;
}

nav {
  width: 120rem;
  background-color: aqua;
}

h1 {
  color: black;
}

.card {
  background:white;
  width: 60rem;
  justify-content: center;
  border: 2px solid black;
}